.button {
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: lightgrey;
}

.button:pressed{
    -fx-background-color: darkgrey;
}

.toggle-button{
    -fx-background-color: transparent;
}

.toggle-button:hover{
    -fx-background-color: lightgrey;
}

.toggle-button:selected{
    -fx-background-color: lightgreen;
}

.table-row-cell:odd {
    -fx-background-color: lightblue;
}

.table-row-cell:odd > .table-cell{
    -fx-text-fill: blue;
}

.table-row-cell:even {
    -fx-background-color: white;

}

.table-row-cell:even > .table-cell{
    -fx-text-fill: white;
}